<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li><a href="https://datacarpentry.org/shell-economics/01-introduction/index.html">Introducing the Shell</a></li>
      <li><a href="https://datacarpentry.org/shell-economics/02-the-filesystem/index.html">Navigating Files and Directories</a></li>
      <li><a href="https://datacarpentry.org/shell-economics/03-working-with-files/index.html">Working with Files and Directories</a></li>
      <li><a href="https://datacarpentry.org/shell-economics/04-redirection/index.html">Reusing the Results of Commands</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li><a href="https://dlstrong.github.io/git-novice/">Version Control with Git</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-stata">Data Wrangling with Stata</h3>
    <ul>
      <li><a href="https://datacarpentry.org/stata-economics/01-explore-data/index.html">Read and Explore Data</a></li>
      <li><a href="https://datacarpentry.org/stata-economics/02-data-quality/index.html">Data Formats and Data Quality</a></li>
      <li><a href="https://datacarpentry.org/stata-economics/03-transform-data/index.html">Transform Data</a></li>
      <li><a href="https://datacarpentry.org/stata-economics/04-combine-data/index.html">Combine Data</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-advanced-stata">Programming with Stata</h3>
    <ul>
      <li><a href="https://datacarpentry.org/stata-economics/05-programming/index.html">Save and Reuse Your Work in .do Files</a></li>
      <li><a href="https://datacarpentry.org/stata-economics/06-loops/index.html">Repeat Tasks with Loops</a></li>
    </ul>
  </div>

</div>
