<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
Please fill in this anonymous quiz to help us gauge your Stata background and tailor the workshop to best fit your needs.
<ol>
    <li>Log in to <a href="https://b.socrative.com/login/student/">Socrative</a>.</li>
    <li>Enter the room code "STATAECONOMICS".</li>
    <li>Answer all three questions as best as you can.</li>
 </ol>
 </p>
